<?xml  encoding="utf-8"?>
<packages>
  <package id="7zip.install"  />
  <package id="aegisub"  />
  <package id="atom"  />
  <package id="atom.install"  />
  <package id="audacity"  />
  <package id="audacity-ffmpeg"  />
  <package id="autohotkey.portable"  />
  <package id="Brackets"  />
  <package id="bulkrenameutility"  />
  <package id="chocolatey"  />
  <package id="chocolatey-compatibility.extension"  />
  <package id="chocolatey-core.extension"  />
  <package id="chocolatey-dotnetfx.extension"  />
  <package id="chocolateygui"  />
  <package id="chocolatey-os-dependency.extension"  />
  <package id="chocolatey-windowsupdate.extension"  />
  <package id="Cmder"  />
  <package id="ConEmu"  />
  <package id="ConsoleZ"  />
  <package id="crystaldiskinfo.install"  />
  <package id="ditto"  />
  <package id="dotnet"  />
  <package id="dotnet-10.0-desktopruntime"  />
  <package id="dotnet-10.0-runtime"  />
  <package id="DotNet4.6.1"  />
  <package id="dotnet-6.0-desktopruntime"  />
  <package id="dotnet-6.0-runtime"  />
  <package id="dotnet-7.0-desktopruntime"  />
  <package id="dotnet-7.0-runtime"  />
  <package id="dotnet-8.0-desktopruntime"  />
  <package id="dotnet-8.0-runtime"  />
  <package id="dotnet-9.0-desktopruntime"  />
  <package id="dotnet-9.0-runtime"  />
  <package id="dotnet-desktopruntime"  />
  <package id="dotnetfx"  />
  <package id="dotnet-runtime"  />
  <package id="EthanBrown.ConEmuConfig"  />
  <package id="exiftool"  />
  <package id="ffmpeg"  />
  <package id="filezilla"  />
  <package id="freefilesync"  />
  <package id="frhed.install"  />
  <package id="Ghostscript"  />
  <package id="Ghostscript.app"  />
  <package id="gimp"  />
  <package id="git"  />
  <package id="git.install"  />
  <package id="gitextensions"  />
  <package id="greenshot"  />
  <package id="imageglass"  />
  <package id="InkScape"  />
  <package id="irfanview"  />
  <package id="irfanviewplugins"  />
  <package id="irfanview-shellextension"  />
  <package id="iTunes"  />
  <package id="joplin"  />
  <package id="localsend.install"  />
  <package id="magic-wormhole"  />
  <package id="magic-wormhole.portable"  />
  <package id="mp3tag"  />
  <package id="netfx-4.6.2"  />
  <package id="nethor"  />
  <package id="notepadplusplus.install"  />
  <package id="obs-studio"  />
  <package id="obs-studio.install"  />
  <package id="oh-my-posh"  />
  <package id="openshot"  />
  <package id="PowerShell"  />
  <package id="powershell-core"  />
  <package id="powertoys"  />
  <package id="pstools"  />
  <package id="pwsh"  />
  <package id="rainmeter"  />
  <package id="reapack"  />
  <package id="reaper"  />
  <package id="reaper-sws-extension"  />
  <package id="rtlsdr-scanner"  />
  <package id="rufus"  />
  <package id="rufus.portable"  />
  <package id="scribus"  />
  <package id="SourceCodePro"  />
  <package id="speedtest"  />
  <package id="spotify"  />
  <package id="teracopy"  />
  <package id="teraterm"  />
  <package id="tidal"  />
  <package id="toolsroot"  />
  <package id="vcredist140"  />
  <package id="vcredist2008"  />
  <package id="vcredist2010"  />
  <package id="vcredist2012"  />
  <package id="vcredist2015"  />
  <package id="vcredist2017"  />
  <package id="vlc"  />
  <package id="vlc.install"  />
  <package id="vscode"  />
  <package id="vscode.install"  />
  <package id="webview2-runtime"  />
  <package id="wiztree"  />
</packages>